.mortgage-result{
    background: hsl(202, 55%, 16%);
    width: 50%;
    text-align: center;
    padding: 1.5rem 2.5rem;

    h2{
        color: hsl(202, 86%, 94%);
        font-size: 24px;
    }

    p{
        color: hsl(203, 41%, 72%);
        font-size: 16px;
    }
}