@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: hsl(202, 86%, 94%);
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mortgage{
  display: flex;
  gap: 0;
  width: 100%;
  max-width: 900px;
  justify-content: center;
}

@media (max-width: 600px) {
  .body{
    align-items: flex-start;
    padding: 0;
  }

  .mortgage{
    flex-direction: column;
    min-height: 100vh;
  }
}